// Fonts
$font-lato: var(--font-lato);
$font-roboto: var(--font-roboto);

// Colors
$dark: #060F42;
$text-light: #D9D9D9;
$primary: #06A56C;
$primary-hover: #37BD8D;
$secondary: #01579B;

$black-color: #000;
$white-color: #FFF;
$desc-color: #848A9A;
$hover-color: #00FFFF;
$active-color: #BF221E;
$focus-color: #8FC9FF;
$btn-color: #FF3C3C;
$border-color: #DCDFE2;
$cart-btn-color: #A9A9A9;
$cart-btn2-color: #C5CBD5;
$cart-btn3-color: #EEF0F3;
$cart-lable-color: #A6A6A6;
$input-border-color: #C4C7CA;
$input-focus-color: #3F8FE5;
$input-error-color: #FB7A7A;
$card-icon-color: #C5CBD1;
$card-size-btn-color: #82909F;
$card-size-color: #EFF0F1;
$delivery-color: #F8F6F3;
$slider-btn-color: #BAC4D6;
$menu-color: #313945;
$menu-border-color: #1d2228;
$menu-text-color: #A8B0BC;


$box-shadow: 0 0px 10px 0 rgb(165 169 176 / 30%);
$box-shadow-hover: 0 2px 20px 0 rgb(165 169 176 / 100%);
$delivery-shadow: 0 2px 5px 0 rgb(199 193 168 / 30%);


$transition: 0.2s ease-in-out;